<footer class="footer">
  <div class="footer__terms">
    <span class="footer__terms-item">
      <a class="footer__terms-link" href="https://www.workato.com/privacy">Privacy</a>
    </span>
    <span class="footer__terms-item">
      <a class="footer__terms-link" href="https://www.workato.com/terms">Terms</a>
    </span>
    <span class="footer__terms-item">
      <a class="footer__terms-link" href="tel:+18444696752">(844) 469-6752</a>
    </span>
    <span class="footer__terms-item">Workato 2017</span>
  </div>
  <div class="footer__social">
    <a class="footer__social-icon" href="mailto:info@workato.com">
      <span class="fa fa-envelope"></span>
    </a>
    <a class="footer__social-icon" href="https://facebook.com/workato" rel="noopener" target="_blank">
      <span class="fa fa-facebook"></span>
    </a>
    <a class="footer__social-icon" href="https://twitter.com/workato" rel="noopener" target="_blank">
      <span class="fa fa-twitter"></span>
    </a>
    <a class="footer__social-icon" href="https://linkedin.com/company/workato" rel="noopener" target="_blank">
      <span class="fa fa-linkedin"></span>
    </a>
  </div>
</footer>