<footer class="footer">
  <div class="footer__inner">
    <div class="footer__navigation">
      <div class="footer__menu">
        <div class="footer__menu-title">
          Apps
        </div>
        <ul class="footer__menu-list">
          <li class="footer__menu-item">
            <a class="footer__menu-link" href="https://www.workato.com/partners/atlassian">Atlassian</a>
          </li>
          <li class="footer__menu-item">
            <a class="footer__menu-link" href="https://www.workato.com/integrations/box">Box</a>
          </li>
          <li class="footer__menu-item">
            <a class="footer__menu-link" href="https://www.workato.com/integrations/eventbrite">Eventbrite</a>
          </li>
          <li class="footer__menu-item">
            <a class="footer__menu-link" href="https://www.workato.com/integrations/infusionsoft">Infusionsoft</a>
          </li>
          <li class="footer__menu-item">
            <a class="footer__menu-link" href="https://www.workato.com/integrations/intacct">Intacct</a>
          </li>
          <li class="footer__menu-item">
            <a class="footer__menu-link" href="https://www.workato.com/integrations/jira">JIRA</a>
          </li>
          <li class="footer__menu-item">
            <a class="footer__menu-link" href="https://www.workato.com/integrations/marketo">Marketo</a>
          </li>
          <li class="footer__menu-item">
            <a class="footer__menu-link" href="https://www.workato.com/integrations/quickbase">QuickBase</a>
          </li>
          <li class="footer__menu-item">
            <a class="footer__menu-link" href="https://www.workato.com/integrations/quickbooks">QuickBooks</a>
          </li>
          <li class="footer__menu-item">
            <a class="footer__menu-link" href="https://www.workato.com/integrations/salesforce">Salesforce</a>
          </li>
          <li class="footer__menu-item">
            <a class="footer__menu-link" href="https://www.workato.com/integrations/service_now">ServiceNow</a>
          </li>
          <li class="footer__menu-item">
            <a class="footer__menu-link" data-mixpanel-link="footer_workbot_link"
              href="https://www.workato.com/workbot-slack">Workbot</a>
          </li>
          <li class="footer__menu-item">
            <a class="footer__menu-link" href="https://www.workato.com/integrations/xero">Xero</a>
          </li>
          <li class="footer__menu-item">
            <a class="footer__menu-link" href="https://www.workato.com/integrations/zendesk">Zendesk</a>
          </li>
        </ul>
      </div>
      <div class="footer__menu">
        <div class="footer__menu-title">
          About
        </div>
        <ul class="footer__menu-list">
          <li class="footer__menu-item">
            <a class="footer__menu-link" href="https://www.workato.com/features">Why Workato</a>
          </li>
          <li class="footer__menu-item">
            <a class="footer__menu-link" href="https://resources.workato.com/how-it-works/">How it
              works</a>
          </li>
          <li class="footer__menu-item">
            <a class="footer__menu-link footer__menu-link_pricing" href="https://www.workato.com/pricing"
             >Pricing</a>
          </li>
          <li class="footer__menu-item">
            <a class="footer__menu-link" href="https://www.workato.com/partners">ISV Partners</a>
          </li>
          <li class="footer__menu-item">
            <a class="footer__menu-link" href="http://resources.workato.com/partners/">Consulting
              Partners</a>
          </li>
          <li class="footer__menu-item">
            <a class="footer__menu-link" href="https://www.workato.com/security">Security</a>
          </li>
          <li class="footer__menu-item">
            <a class="footer__menu-link" href="http://resources.workato.com/content-library/">Solutions</a>
          </li>
          <li class="footer__menu-item">
            <a class="footer__menu-link" href="http://blog.workato.com" target="_blank">Blog</a>
          </li>
          <li class="footer__menu-item">
            <a class="footer__menu-link" href="https://www.workato.com/about_us">Team</a>
          </li>
        </ul>
      </div>
      <div class="footer__menu">
        <div class="footer__menu-title">
          Support
        </div>
        <ul class="footer__menu-list">
          <li class="footer__menu-item">
            <a class="footer__menu-link" href="https://www.workato.com/support">Support plans</a>
          </li>
          <li class="footer__menu-item">
            <a class="footer__menu-link" href="https://support.workato.com/support/home" target="_blank">Help
              Center</a>
          </li>
          <li class="footer__menu-item">
            <a class="footer__menu-link" href="https://resources.workato.com/webinars">Webinars</a>
          </li>
          <li class="footer__menu-item">
            <a class="footer__menu-link" href="https://resources.workato.com/content-library/#lp-pom-text-278"
             >Tutorials</a>
          </li>
          <li class="footer__menu-item">
            <a class="footer__menu-link" href="http://developer.workato.com">Developer</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="footer__side">
      <div class="footer__terms">
        <span class="footer__terms-item">
          <a class="footer__terms-link" href="https://www.workato.com/privacy">Privacy</a>
        </span>
        <span class="footer__terms-item">
          <a class="footer__terms-link" href="https://www.workato.com/terms">Terms</a>
        </span>
        <span class="footer__terms-item">
          <a class="footer__terms-link" href="tel:+18444696752">(844) 469-6752</a>
        </span>
        <span class="footer__terms-item">Workato 2017</span>
      </div>
      <div class="footer__social">
        <a class="footer__social-icon" href="mailto:info@workato.com">
          <span class="fa fa-envelope"></span>
        </a>
        <a class="footer__social-icon" href="https://facebook.com/workato" rel="noopener" target="_blank">
          <span class="fa fa-facebook"></span>
        </a>
        <a class="footer__social-icon" href="https://twitter.com/workato" rel="noopener" target="_blank">
          <span class="fa fa-twitter"></span>
        </a>
        <a class="footer__social-icon" href="https://linkedin.com/company/workato" rel="noopener" target="_blank">
          <span class="fa fa-linkedin"></span>
        </a>
      </div>
    </div>
  </div>
</footer>