{% extends template.self %}

{# Moving search input to header #}
{% block search_input %}{% endblock %}

{# Removing navigation arrows #}
{% block book_navigation %}{% endblock %}

{% block javascript %}
  {{ super() }}
  <script src="/assets/scripts/main.js"></script>
{% endblock %}

{% block body %}
  <header class="w-header">
    <div class="w-header__row w-header__row_logo">
      <a href="{{ site.baseurl }}/">
        <img class="w-header__logo" src="/assets/images/layout/workato-logo.svg" alt="Workato docs">
      </a>
      <a href="https://workato.com" class="w-header__return">Return to workato.com</a>
    </div>
    <div class="w-header__row w-header__row_toolbar">
      <div id="book-search-input" role="search">
        <i class="fa fa-search book-search-input-icon"></i>
        <input type="text" placeholder="Type to search Workato docs"/>
      </div>
      <div class="book-header" role="navigation">
        {% if glossary.path %}
          <a href="{{ ('/' + glossary.path) | resolveFile }}" class="btn pull-left" aria-label="{{ "GLOSSARY_OPEN"|t }}"><i class="fa fa-sort-alpha-asc"></i></a>
        {% endif %}

        <!-- Title -->
        <h1>
          <i class="fa fa-circle-o-notch fa-spin"></i>
          <a href="{{ "/" | resolveFile }}">{{ page.title }}</a>
        </h1>
      </div>
    </div>
  </header>

  {{ super() }}
{% endblock %}

{% block book_body %}
  {{ super() }}

  <div class="ask">
    <div class="ask__title">Didn’t find what you are looking for?</div>
    <div class="ask__links">
      <a href="http://resources.workato.com/content-library/" class="ask__link">
        <span class="ask__link-title">Search our resource library</span>
        <span class="ask__link-description">View getting started guides, tutorials, training videos, webinars and FAQ</span>
      </a>
      <a href="https://support.workato.com/support/discussions" class="ask__link">
        <span class="ask__link-title">Ask our community</span>
        <span class="ask__link-description">View questions and answers from other users and Workato experts.</span>
      </a>
      <a href="https://support.workato.com/support/tickets/new" class="ask__link">
        <span class="ask__link-title">File a support ticket</span>
        <span class="ask__link-description">File a support ticket for critical issues that require a higher level of support.</span>
      </a>
    </div>
  </div>

  {% include "./footer.html" %}
{% endblock %}
