{% extends template.self %}

{% block body %}
    <header class="w-header">
      <a href="{{ site.baseurl }}/">
        <img src="/assets/images/layout/workato-logo.svg" alt="Workato docs" width="184" height="30">
      </a>
      <a href="//workato.com" class="w-header__return">Return to workato.com</a>
    </header>

    {{ super() }}

    <footer class="w-footer">
      <div class="w-footer__title">Didn’t find what you are looking for?</div>
      <div class="w-footer__help-links">
        <a href="//support.workato.com/support/home" class="w-footer__help-link">
          <span class="w-footer__help-link-title">Search our resource library</span>
          <span class="w-footer__help-link-description">View getting started guides, tutorials, training videos, webinars and FAQ</span>
        </a>
        <a href="//support.workato.com/support/discussions" class="w-footer__help-link">
          <span class="w-footer__help-link-title">Ask our community</span>
          <span class="w-footer__help-link-description">View questions and answers from other users and Workato experts.</span>
        </a>
        <a href="//support.workato.com/support/tickets/new" class="w-footer__help-link">
          <span class="w-footer__help-link-title">File a support ticket</span>
          <span class="w-footer__help-link-description">File a support ticket for critical issues that require a higher level of support.</span>
        </a>
      </div>
      <nav class="w-footer__copy">
        <a href="//workato.com/privacy" class="w-footer__copy-item w-footer__copy-item_link">Privacy</a>
        <a href="//workato.com/terms" class="w-footer__copy-item w-footer__copy-item_link">Terms</a>
        <a href="tel:+18444696752" class="w-footer__copy-item w-footer__copy-item_link">(844) 469-6752</a>
        <span class="w-footer__copy-item">Workato 2017</span>
      </nav>
      <div class="w-footer__social">
        <a class="w-footer__social-item" href="mailto:info@workato.com" title="Email">
          <img src="/assets/images/layout/email-icon.svg" alt="Email">
        </a>
        <a class="w-footer__social-item" href="//facebook.com/workato" target="_blank" title="Facebook">
          <img src="/assets/images/layout/facebook-icon.svg" alt="Facebook">
        </a>
        <a class="w-footer__social-item" href="//twitter.com/workato" target="_blank" title="Twitter">
          <img src="/assets/images/layout/twitter-icon.svg" alt="Twitter">
        </a>
        <a class="w-footer__social-item" href="//linkedin.com/company/workato" target="_blank" title="LinkedIn">
          <img src="/assets/images/layout/linkedin-icon.svg" alt="LinkedIn">
        </a>
      </div>
    </footer>
{% endblock %}
