body {
  color: #525252;
  font-family: "Lato", sans-serif;
  padding-top: 140px;
}

/* Markdown document */
.markdown-section {
  font-size: 16px;
  line-height: 1.625;
}

/* Sections */
.markdown-section h1 {
  font-size: 26px;
  line-height: 1.38;
  border-bottom: 1px solid #d8d8d8;
  padding-bottom: 15px;
  margin: 30px 0;
}

.markdown-section h2 {
  font-size: 18px;
  margin: 30px 0 15px;
}

.markdown-section h3,
.markdown-section h4,
.markdown-section h5 {
  font-size: 16px;
}

.markdown-section h1,
.markdown-section h2,
.markdown-section h3 {
  font-weight: bold;
}

.markdown-section h2,
.markdown-section h3,
.markdown-section h4,
.markdown-section h5 {
  line-height: 1.44;
}

/* Images */
.markdown-section img {
  display: block;
  margin: 30px auto 10px;
  border: 1px solid #dedede;
}

/* Image captions */
.markdown-section p > img + em:last-child,
.markdown-section p > a + em:last-child {
  color: #a8a8a8;
  font-size: 14px;
  font-style: normal;
  text-align: center;
  line-height: 17px;
  display: block;
  margin: 10px auto 40px;
}

/* Header */
.w-header {
  background: #fff;
  position: fixed;
  box-shadow: 0 1px 8px rgba(0, 0, 0, .1);
  z-index: 10;
  width: 100%;
  top: 0;
  left: 0;
}

.w-header__row {
  padding: 0 15px;
  display: flex;
  height: 70px;
  align-items: center;
}

.w-header__row_logo {
  border-bottom: 1px solid #e7e7e7;
  justify-content: space-between;
}

.w-header__return {
  border: 1px solid #27989f;
  border-radius: 2px;
  color: #27989f;
  font-weight: 700;
  text-decoration: none;
  padding: 5px 15px;
}

/* Hiding page title in toolbar */
/* Can't remove it from the template because it's needed by the script that appends toolbar buttons */
.book-header h1 {
  display: none;
}

/* Toolbar buttons */
.book-header .btn {
  text-transform: none;
}

/* Search bar*/
#book-search-input {
  margin: 0;
  border: none;
  padding: 0;
  align-self: stretch;
  display: flex;
  align-items: center;
  width: 285px;
}

#book-search-input input {
  height: 100%;
}

/* Book summary*/
.book-summary {
  font-family: "Lato", sans-serif;
}

.book-summary ul.summary li {
  position: relative;
}

.book-summary ul.summary li a,
.book-summary ul.summary li span {
  color: #525252;
}

.book-summary ul.summary li.active > a {
  color: #27989f;
}

.book-summary ul.summary > .chapter {
  border-bottom: 1px solid #f1f1f1;
  padding: 10px 15px;
}

.book-summary ul.summary > .chapter.active {
  background: #fff;
}

.chapter .chapter-toggle {
  position: absolute;
  left: 12px;
  top: 22px;
}

.w-footer {
  background: #27989f;
  color: #fff;
  padding: 50px 15px;
}

.w-footer__social {
  text-align: center;
}

.w-footer__social-item {
  display: inline-block;
  margin: 0 5px;
  transition: opacity ease .25s;
}

.w-footer__social-item:hover {
  opacity: .85;
}

.w-footer__copy {
  line-height: 1;
  margin: 0 0 20px;
  text-align: center;
}

.w-footer__copy-item {
  padding: 0 12px 0 10px;
  border-right: 1px solid #fff;
}

.w-footer__copy-item:last-child {
  border: none;
}

.w-footer__copy-item_link {
  color: #fff;
  text-decoration: none;
}

.w-footer__copy-item_link:hover {
  text-decoration: underline;
}

.w-footer__title {
  font-size: 18px;
  font-weight: 700;
  margin: 0 0 50px;
}

.w-footer__help-links {
  border: solid #fff;
  border-width: 1px 0;
  display: flex;
  justify-content: space-between;
  line-height: 1.6;
  margin: 0 0 50px;
  padding: 50px 0;
}

.w-footer__help-link {
  color: #fff;
  text-decoration: none;
  width: 30%;
}

.w-footer__help-link:hover .w-footer__help-link-title {
  text-decoration: underline;
}

.w-footer__help-link-title {
  font-weight: 700;
  display: block;
  margin: 0 0 10px;
}

.w-footer__help-link-description {
  display: block;
}